body{
background-color:#121212;
}
#logo{
width:350px; 
}
#frame{
width:800px;
margin:5px 250px 0px 250px ;
}
#top{
	padding-left:19px;
}

#message{
	font-family:sans serif , Calibri;
	font-style:italic;
	color:#e1c474;
	font-size:17px;
	margin:100px 0px 0px 180px;
}
.songlyrıcs{
font-family:Lucida Calligraphy,sans serif;
font-size:12pt;
font-style:italic;
}
#header_list{
background-color:#ffffff;
margin-top:45px;
float:left;
width:250px;
margin-left:15px;
}
.menu{
width:auto;
height:auto;
margin:15px 0px 0px 0px;
background-color:#ffffff;
}
.menu ul{
list-style:none;
padding:5px;

}
.menu li{

text-decoration:none;
font-weight:bold;
margin:8px;
font-family:Calibri;
font-size:14pt;
color:#464646;

}
.menu li a:link{
color:#464646;
text-decoration:none;
}
.menu li a:visited{
color:#464646;
text-decoration:none;
}
.menu li a:hover{
color:#e1c474;
text-decoration:underline;
}
.menu li a:active{
color:#e1c474;
text-decoration:none;
}
#m{margin:auto;}
#center{
width:auto;
background-color:white;
border-radius:8px ;
height:1970px;
}
.coverimage{
padding:2px;

}
.coverimage img{
border:10px solid white;
border-radius :15px;
width:775px;
}

.infotable{
width:500px;
-webkit-border-image:url(image/line_vertical.png) 60 30 round;
-moz-border-image:url(image/line_vertical.png) 60 30 round;
border-right:10px solid transparent;
border-radius:30px;
float:left;
background-color:white;
margin:0px 0px 0px 7px;
padding:6px;
}
.header{
font-family:Calibri;
font-size:30px;
color:#00000;
text-align:left;
margin:5px 0px 0px 2px;
-webkit-border-image:url(image/line_horizontal.png) 10 20 round;
-moz-border-image:url(image/line_horizontal.png) 10 20 round;
border-bottom:10px solid transparent;
}
.subtitle{
font-family:Calibri;
font-size:20px;
font-weight:bold;
color:#00000;
text-align:left;
margin:5px 0px 0px 8px;
text-decoration:underline;
}
.information {
font-family:Calibri;
font-size:15px;
color:#464646;
margin:5px 0px 0px 0px;
padding:10px;
text-align:left;

}
emp{
	font-style:italic;
}
.note{
	font-family:Calibri;
	margin:10px;
	padding:9px 9px 9px 20px;
	background-color:black;
	color:white;
	font-style:italic;
	border-style:dotted;
	
	
}
.symbol{float:left;}

#right{
float:left;
width:250px;
margin-left:15px;
margin-top:5px;
padding-left:10px;
background-color:#e1c474;
box-shadow:2px 2px 2px black;

}

.award_table tr{
	margin:7px;
	
	
}
.award_table 
{
	border:5px solid transparent;
	margin:10px 0px 0px 0px;
	
}
.award_table li
{
	font-family: Calibri;
	font-size:15px;
	color:#e1e1d0;
}
.award_table ul{
	list-style-type:circle;
	
}

.award_table h3
{
	font-family:Calibri;
	font-size:16px;
	color:#e1c474;
	
}

#awards{
	padding:5px;
	background-color:black;
	float:right;
	width:auto;
	height:auto;
	margin:40px 0px 0px 0px;
	border-radius:5px;
	box-shadow:2px 2px 2px black;
}
.image{
	
	padding:9px;
	background-color:#e1c474;
	border-color:#e1c474;
	font-style:italic;
	border-style:solid;
	font-family:Calibri;
	
}
#contact{
	float:left;
	width:250px;
	margin-top:50px;
	padding:5px;
	background-color:white;
	border: 2px dotted #e1c474;
}
#contact ul{
list-style:disc;
padding:5px;
margin-left:15px;

}
#contact li{

text-decoration:none;
font-weight:bold;
margin:8px;
font-family:Calibri;
font-size:13pt;
color:#464646;

}
#contact li a:link{
color:#464646;
text-decoration:none;
}
#contact li a:visited{
color:#464646;
text-decoration:none;
}
#contact li a:hover{
color:#e1c474;
text-decoration:underline;
}
#contact li a:active{
color:#e1c474;
text-decoration:none;
}
#topbutton a{

font-weight:bold;
margin:0px 170px 0px 170px;
color:#ff9900;
text-decoration:none;
}
#source a
{
	
	font-family: Calibri;
	font-size:10px;
	color:gray;
	font-weight:none;
	
}



